transformers==4.36.0
# for jetson orin (on L4T R35.2.1): https://github.com/to-aoki/bitsandbytes.git
bitsandbytes
peft==0.4.0
accelerate==0.21.0
git+https://github.com/huggingface/trl.git
sentencepiece
scipy==1.10.1
